<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Paul Johns - Web Development and Marketing</title>
  <meta name="description" content="Full Stack Development and Marketing Solutions">
  <meta name="author" content="Paul Johns">

  <meta property="og:title" content="Full Stack Development and Marketing Solutions">
  <meta property="og:type" content="website">
  <meta property="og:url" content="myurl.com">
  <meta property="og:description" content="Full Stack Development and Marketing Solutions">
  <meta property="og:image" content="put an image here">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link href="../static/base.css" type="text/css" rel="stylesheet">
  {% block addcss %}
  {% endblock addcss %}

</head>

<body>
  <navigation-bar>
    <navigation-item>
      <a href="/" alt="#" class="active">Home</a>
    </navigation-item>
    <navigation-item>
        <a href="/cssplayground" alt="#">CSS Playground</a>
      </navigation-item>
  </navigation-bar>
  {% block content %}
    whatever
  {% endblock content %}
</body>
</html>