<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block addtitle %}Paul Johns - Web Development and Marketing{% endblock addtitle %}</title>
  <meta name="description" content="Full Stack Development and Marketing Solutions">
  <meta name="author" content="Paul Johns">

  <meta property="og:title" content="Full Stack Development and Marketing Solutions">
  <meta property="og:type" content="website">
  <meta property="og:url" content="myurl.com">
  <meta property="og:description" content="Full Stack Development and Marketing Solutions">
  <meta property="og:image" content="put an image here">



  
  {% block addcss %}
  <link href="../static/base.css" type="text/css" rel="stylesheet">
  {% endblock addcss %}

</head>

<body>
  <navigation-bar id="navigation-bar">
    <navigation-item>
      <a href="{% url 'home' %}" class="active">Home</a>
    </navigation-item>
    <navigation-item>
      <a href="{% url 'cssplayground' %}">CSS Playground</a>
    </navigation-item>
    <navigation-item>
        <a href="{% url 'jsplayground' %}">JS Playground</a>
    </navigation-item>
    <navigation-item>
      <a href="{% url 'djangoprojects' %}">Django Projects</a>
    </navigation-item>
  </navigation-bar>
  {% block content %}
  <container-main>
    This is the homepage.
  </container-main>
  {% endblock content %}
  
</body>
</html>