{% extends 'home/base.html' %}

{% block addcss %}
<link href="../static/base.css" type="text/css" rel="stylesheet">
<link href="../static/cssplayground.css" type="text/css" rel="stylesheet">
{% endblock addcss %}


{% block content %}
<container-main>
    <section-heading>
        <section-heading-title>
            <h1>This is my CSS Playground</h1>
        </section-heading-title>
    </section-heading>
    <project-container>
        <project-section>
            <project-title>
                <h1>Cool bubble outline</h1>
            </project-title>
            <project-display>
                Display the project.
            </project-display>
            <project-description>
                <p>This is where I talk about what I learned to do</p>
            </project-description>
            <project-code>
                <p>This is where I'll put the inline code.</p>
            </project-codef>
        </project-section>
    </project-container>

    <project-container>
        <project-section>
            <project-title>
                <h1>This is the title section of the project</h1>
            </project-title>
            <project-display>
                <p>Display what it does.</p>
            </project-display>
            <project-description>
                <p>This is where I talk about what I learned to do</p>
            </project-description>
            <project-code>
                <p>This is where I'll put the inline code.</p>
            </project-codef>
        </project-section>
    </project-container>
</container-main>

{% endblock content %}