{% extends 'home/base.html' %}

{% block addcss %}
<link href="../static/cssplayground.css" type="text/css" rel="stylesheet">
{% endblock addcss %}


{% block content %}
<section-heading>
    <section-heading-title>
        <h1>This is my CSS Playground</h1>
    </section-heading-title>
</section-heading>

<project-section>
    <project-title-1>
        <h1>This is the title section of the project</h1>
    </project-title-1>
    <project-display-1>
        Display what it does.
    </project-display-1>
    <project-description-1>
        This is where I talk about what I learned to do
    </project-description-1>
    <project-code-1>
        This is where I'll put the inline code.
    </project-code-1>
</project-section>


{% endblock content %}